nav {
    display: flex;
    margin-block-start: -10px;
    margin-right: -10px;
    margin-left: -10px;
    background-color: rgb(52, 52, 52);
    justify-content: right;
}

nav h1 {
    margin-right: 900px;
}

nav ul {
    display: flex;
    padding: 0;
    margin-right: 50px;
}

nav li {
    list-style-type: none;
    margin: 10px;
}

h1 {
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

a:hover {
    color: rgb(209, 208, 208);
}

#photo {
    display: block;
    margin: auto;
    border-radius: 50%;

    background-color: white;
    margin-top: 15px;
}

#profile {
    background-color: rgba(186, 218, 204, 0.482);
    min-height: 233px;
    padding: 20px 0;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0px;
}

#photo_fond_figure {
    background-color: rgb(52, 52, 52);
    min-height: 233px;
    padding: 20px 0;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -16px;
}

#photo_fond {
    margin: auto;
    width: 1539px;
    height: 500px;
}

#legende_photo_bg {
    text-align: center;
    color: whitesmoke;
    padding-top: 5px;
    margin-top: -75px;
}

#projet1 {
    margin-left: 25px;
    padding-top: 40px;
}

#lettrem {
    margin-top: 50px;
}

#projet2 {
    margin-left: 165px;
    padding-top: 55px;
}

#lanta {
    padding-top: 50px;
    margin-left: 100px;
}

#projet3 {
    padding-top: 22px;
    margin-left: 170px;
}

#Troc {
    margin-left: 125px;
}

#Projet {
    display: flex;
    margin: 100px;
    margin-bottom: 0;
}

main {
    background-color: rgba(186, 218, 204, 0.482);
    margin-top: -100px;
    margin-left: -10px;
    margin-right: 0;
}

.footer-basic {
    padding-top: 20px;
    padding-bottom: 35px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -7px;
    background-color: rgb(52, 52, 52);
    color: whitesmoke;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: whitesmoke;
    margin-bottom: 0;
}