nav {
    display: flex;
    margin-block-start: -10px;
    margin-right: -10px;
    margin-left: -10px;
    justify-content: right;
    background-color: rgb(52, 52, 52);
}

nav h1 {
    margin-right: 900px;
    font-family: 'Poiret One', cursive;
}

nav ul {
    display: flex;
    padding: 0;
    margin-right: 50px;
    font-family: 'Poiret One', cursive;
}

nav li {
    list-style-type: none;
    margin: 10px;
}

h1 {
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: rgb(209, 208, 208);
}

#photo {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    margin-top: 15px;
}

#profile {
    background-color: rgba(186, 218, 204, 0.482);
    min-height: 233px;
    padding: 20px 0;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0px;
}

#photo_fond_figure {
    background-color: rgb(52, 52, 52);
    min-height: 600px;
    padding: 20px 0;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -16px;
}

#photo_fond {
    margin: auto;
    width: 1540px;
    height: 560px;
}

#legende_photo_bg {
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
}

#projet1 {
    margin-left: 25px;
    padding-top: 40px;
}

#lettrem {
    margin-top: 50px;
}

#projet2 {
    margin-left: 165px;
    padding-top: 55px;
}

#lanta {
    padding-top: 50px;
    margin-left: 100px;
}

#projet3 {
    padding-top: 22px;
    margin-left: 170px;
}

#Troc {
    margin-left: 125px;
}

#mockup{
    margin-left: 50px;
}

#projet4{
    margin-left: 115px;
    padding-top: 40px;
    padding-bottom: 25px;
}

#iphone14{
    margin-left: 30px;
}

#projet5{
    margin-left: 100px;
    padding-top: 40px;
}

#Projet_ligne_1 {
    display: flex;
    margin: 100px;
    margin-bottom: 0;
}

#Projet_ligne_2{
    display: flex;
    margin: 100px;
    margin-bottom: 0;
}

main {
    background-color: rgba(186, 218, 204, 0.482);
    margin-top: -150px;
    margin-bottom: -16px;
    margin-left: -10px;
    margin-right: -10px;
}

.footer-basic {
    padding-top: 15px;
    font-family: 'Poiret One', cursive;
    padding-bottom: 25px;
    margin-left: -8px;
    margin-right: -10px;
    margin-bottom: -7px;
    background-color: rgb(52, 52, 52);
    color: whitesmoke;
}

.footer-basic ul {
    margin-top: -150px;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    color: rgb(209, 208, 208);
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: whitesmoke;
    margin-left: 250px;
}

.list-inline {
    margin-left: 250px;
}

.reseau {
    display: block;
    margin-left: 600px;
    padding: 10px;  
}

.rs{
    font-size: 100%;
    text-decoration: none;
}

figcaption{
    font-family: 'Poiret One', cursive; 
}

#en_tete{
    margin-top: 150px;
    text-align: center;
    background-color: black;
    font-family: 'Poiret One', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');